# Drew's BIS 205 Acceptance wizard
   ##### *must use 'requirements not met' WebFOCUS report

#### import libraries, edit width of cells

In [1]:
import pandas as pd
import numpy as np 

from IPython.display import display, HTML # make cell width wider bc my code is soooooo long (see def bis205_prereq_check(df):)
display(HTML("<style>.container { width:100% !important; }</style>"))

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 100)

### Enter the current semester you'd like to evaluate on:

In [2]:
currentSemester = 'Fall 2023'
evalSemester = '' # to be added soon!

### what would you like the file name to be?

In [3]:
file_name = 'StudentsNeed_BIS205_RS'

#### long asf semester dictionary
will be important later

In [4]:
semester = {
    'Spring 1990': 19901, 'Summer 1990': 19902, 'Fall 1990': 19903, 'Wintersession 1990': 19904, 'Intersession 1990': 19904, 
    'Spring 1991': 19911, 'Summer 1991': 19912, 'Fall 1991': 19913, 'Wintersession 1991': 19914, 'Intersession 1991': 19914, 
    'Spring 1992': 19921, 'Summer 1992': 19922, 'Fall 1992': 19923, 'Wintersession 1992': 19924, 'Intersession 1992': 19924, 
    'Spring 1993': 19931, 'Summer 1993': 19932, 'Fall 1993': 19933, 'Wintersession 1993': 19934, 'Intersession 1993': 19934, 
    'Spring 1994': 19941, 'Summer 1994': 19942, 'Fall 1994': 19943, 'Wintersession 1994': 19944, 'Intersession 1994': 19944, 
    'Spring 1995': 19951, 'Summer 1995': 19952, 'Fall 1995': 19953, 'Wintersession 1995': 19954, 'Intersession 1995': 19954, 
    'Spring 1996': 19961, 'Summer 1996': 19962, 'Fall 1996': 19963, 'Wintersession 1996': 19964, 'Intersession 1996': 19964, 
    'Spring 1997': 19971, 'Summer 1997': 19972, 'Fall 1997': 19973, 'Wintersession 1997': 19974, 'Intersession 1997': 19974, 
    'Spring 1998': 19981, 'Summer 1998': 19982, 'Fall 1998': 19983, 'Wintersession 1998': 19984, 'Intersession 1998': 19984, 
    'Spring 1999': 19991, 'Summer 1999': 19992, 'Fall 1999': 19993, 'Wintersession 1999': 19994, 'Intersession 1999': 19994, 
    'Spring 2000': 20001, 'Summer 2000': 20002, 'Fall 2000': 20003, 'Wintersession 2000': 20004, 'Intersession 2000': 20004, 
    'Spring 2001': 20011, 'Summer 2001': 20012, 'Fall 2001': 20013, 'Wintersession 2001': 20014, 'Intersession 2001': 20014, 
    'Spring 2002': 20021, 'Summer 2002': 20022, 'Fall 2002': 20023, 'Wintersession 2002': 20024, 'Intersession 2002': 20024, 
    'Spring 2003': 20031, 'Summer 2003': 20032, 'Fall 2003': 20033, 'Wintersession 2003': 20034, 'Intersession 2003': 20034, 
    'Spring 2004': 20041, 'Summer 2004': 20042, 'Fall 2004': 20043, 'Wintersession 2004': 20044, 'Intersession 2004': 20044, 
    'Spring 2005': 20051, 'Summer 2005': 20052, 'Fall 2005': 20053, 'Wintersession 2005': 20054, 'Intersession 2005': 20054, 
    'Spring 2006': 20061, 'Summer 2006': 20062, 'Fall 2006': 20063, 'Wintersession 2006': 20064, 'Intersession 2006': 20064, 
    'Spring 2007': 20071, 'Summer 2007': 20072, 'Fall 2007': 20073, 'Wintersession 2007': 20074, 'Intersession 2007': 20074, 
    'Spring 2008': 20081, 'Summer 2008': 20082, 'Fall 2008': 20083, 'Wintersession 2008': 20084, 'Intersession 2008': 20084, 
    'Spring 2009': 20091, 'Summer 2009': 20092, 'Fall 2009': 20093, 'Wintersession 2009': 20094, 'Intersession 2009': 20094, 
    'Spring 2010': 20101, 'Summer 2010': 20102, 'Fall 2010': 20103, 'Wintersession 2010': 20104, 'Intersession 2010': 20104, 
    'Spring 2011': 20111, 'Summer 2011': 20112, 'Fall 2011': 20113, 'Wintersession 2011': 20114, 'Intersession 2011': 20114, 
    'Spring 2012': 20121, 'Summer 2012': 20122, 'Fall 2012': 20123, 'Wintersession 2012': 20124, 'Intersession 2012': 20124, 
    'Spring 2013': 20131, 'Summer 2013': 20132, 'Fall 2013': 20133, 'Wintersession 2013': 20134, 'Intersession 2013': 20134, 
    'Spring 2014': 20141, 'Summer 2014': 20142, 'Fall 2014': 20143, 'Wintersession 2014': 20144, 'Intersession 2014': 20144, 
    'Spring 2015': 20151, 'Summer 2015': 20152, 'Fall 2015': 20153, 'Wintersession 2015': 20154, 'Intersession 2015': 20154, 
    'Spring 2016': 20161, 'Summer 2016': 20162, 'Fall 2016': 20163, 'Wintersession 2016': 20164, 'Intersession 2016': 20164, 
    'Spring 2017': 20171, 'Summer 2017': 20172, 'Fall 2017': 20173, 'Wintersession 2017': 20174, 'Intersession 2017': 20174, 
    'Spring 2018': 20181, 'Summer 2018': 20182, 'Fall 2018': 20183, 'Wintersession 2018': 20184, 'Intersession 2018': 20184, 
    'Spring 2019': 20191, 'Summer 2019': 20192, 'Fall 2019': 20193, 'Wintersession 2019': 20194, 'Intersession 2019': 20194, 
    'Spring 2020': 20201, 'Summer 2020': 20202, 'Fall 2020': 20203, 'Wintersession 2020': 20204, 'Intersession 2020': 20204, 
    'Spring 2021': 20211, 'Summer 2021': 20212, 'Fall 2021': 20213, 'Wintersession 2021': 20214, 'Intersession 2021': 20214, 
    'Spring 2022': 20221, 'Summer 2022': 20222, 'Fall 2022': 20223, 'Wintersession 2022': 20224, 'Intersession 2022': 20224, 
    'Spring 2023': 20231, 'Summer 2023': 20232, 'Fall 2023': 20233, 'Wintersession 2023': 20234, 'Intersession 2023': 20234, 
    'Spring 2024': 20241, 'Summer 2024': 20242, 'Fall 2024': 20243, 'Wintersession 2024': 20244, 'Intersession 2024': 20244, 
    'Spring 2025': 20251, 'Summer 2025': 20252, 'Fall 2025': 20253, 'Wintersession 2025': 20254, 'Intersession 2025': 20254, 
    'Spring 2026': 20261, 'Summer 2026': 20262, 'Fall 2026': 20263, 'Wintersession 2026': 20264, 'Intersession 2026': 20264, 
    'Spring 2027': 20271, 'Summer 2027': 20272, 'Fall 2027': 20273, 'Wintersession 2027': 20274, 'Intersession 2027': 20274, 
    'Spring 2028': 20281, 'Summer 2028': 20282, 'Fall 2028': 20283, 'Wintersession 2028': 20284, 'Intersession 2028': 20284, 
    'Spring 2029': 20291, 'Summer 2029': 20292, 'Fall 2029': 20293, 'Wintersession 2029': 20294, 'Intersession 2029': 20294, 
    'Spring 2030': 20301, 'Summer 2030': 20302, 'Fall 2030': 20303, 'Wintersession 2030': 20304, np.nan: 20305
            }

# assigns variable 'this_semester' to previously assigned string variable with .get() function on semester dictionary
this_semester = semester.get(currentSemester)

#### grade check dictionary
will be important later

In [5]:
grades = { # grade dictionary. Values < 14 are considered "passed", > 14 are considered failed. 14 is a null value.
    'A+': 1, 'A': 2, '*A': 2, 'A-': 3, 'B+': 4, 'B': 5, '*B': 5, 'B-': 6, 'C+': 7,
    'C': 8, '*C': 8, 'C-': 9, 'D+': 10, 'D': 11, '*D': 11, 'CR*': 12, 'TR': 13, '*TR': 13, np.nan: 14, 
    'F': 15, '*F': 15, 'NC*': 16, 'W': 17
         }

### function to clean your Requirements Not Met dataset:

In [6]:
def clean_and_format_data(df):

    # store values in "og_header" in A1, A2, and L5, probably won't use this but it might be useful later
    detail_of = df.iloc[0, 0]
    detail_sortby = df.iloc[1, 0]
    detail_rundate = df.iloc[2, 0]

    # concat rows df.iloc[4] + df.iloc[5] (where REAL header begins)
    first_row = df.iloc[4].astype(str) # grabs first row, use .astype(str) function to format data properly for concatenation
    new_header = (first_row + ' ' + df.iloc[5].astype(str)).str.strip() # concatenates first row with second row
    new_header = new_header.replace('\n', ' ', regex=True) # replaces dumb newline characters with spaces
    new_header = new_header.replace('nan', '', regex=True) # replaces the np.nan values in unused concatenated cells with empty strings
    new_header = new_header.str.strip() # strips whole header to get rid of concatenated leading & trailing spaces
    
    for i in range(11, len(new_header)-1)[::2]: # loop to concatenate columns so that the (course name) + (Term Taken/Final Grade) is preserved.
        if new_header[i].startswith('No Courses'): # special case for 'No Courses' header ([:10] to accomodate full length of text)
            new_header[i+1] = new_header[i][:10].strip() + ' ' + new_header[i+1]
        else: 
            new_header[i+1] = new_header[i][:7].strip() + ' ' + new_header[i+1] # concat course name (could be 7 char (MAT 135P)) with (Final Grade)
    
    df = df[6:] # assign dataframe to rows with relevant student data
    df.reset_index(inplace = True, drop = True) # reset index to new range
    
    df.columns = new_header # assign columns to the new concatenated header
    
    df.iloc[: , 12::2] = df.iloc[: , 12::2].replace(' ', np.nan) # for some reason, if course is being taken currently, grade is stored as a ' ' char. replace with np.nan
    
    return df

### Insert file here in clean_and_format_data(pd.read_excel(r"*YOUR_PATHNAME_HERE*"))
* the 'r' before the pathname in quotes is important

In [7]:
# Read the Excel file with new function to clean and format data properly
df = clean_and_format_data(pd.read_excel(r"C:\Users\cavaran\OneDrive - Eastern Connecticut State University\_work\2023-2024\_today\BIS205_Majors_Requiring_it_Dec4_2024.xlsx"))
df.head() # new dataframe! looks great, doesn't it?!??!????

C:\Users\cavaran\AppData\Local\Temp\ipykernel_13712\1623132078.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if new_header[i].startswith('No Courses'): # special case for 'No Courses' header ([:10] to accomodate full length of text)
C:\Users\cavaran\AppData\Local\Temp\ipykernel_13712\1623132078.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  new_header[i+1] = new_header[i][:7].strip() + ' ' + new_header[i+1] # concat course name (could be 7 char (MAT 135P)) with (Final Grade)
C:\Users\cavaran\AppData\Local\Temp\ipykernel_13712\1623132078.py:19: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  new_header[i+1] = new_header[i][:7].strip() + ' ' + new_header[i+1] # concat course name (could be 7 char (MAT 135P)) with (Final Grade)
C:\Users\cavaran\AppData\Local\Temp\ipykernel_13712\1623132078.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  new_header[i+1] = new_header[i][:10].strip() + ' ' + new_header[i+1]
C:\Users\cavaran\AppData\Local\Temp\ipykernel_13712\1623132078.py:17: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  new_header[i+1] = new_header[i][:10].strip() + ' ' + new_header[i+1]

,Major1,Minor1,Class,Name,ID,Reg Crs,TotErndCrs,CumeGPA,Admit Term,Campus Email,MAJRADVR,BIS205 Term Taken,BIS205 Final Grade,MAT135 Term Taken,MAT135 Final Grade,MAT135P Term Taken,MAT135P Final Grade,MAT155 Term Taken,MAT155 Final Grade,MAT155P Term Taken,MAT155P Final Grade,MAT195 Term Taken,MAT195 Final Grade,MAT243 Term Taken,MAT243 Final Grade,MAT244 Term Taken,MAT244 Final Grade,No Courses Term Taken,No Courses Final Grade
0,Accounting,NaN,SR,"Rosales-Rivas, Jasmin",10216997,NaN,130,2.43,Fall 2018,rosalesj@my.easternct.edu,"RuJoub, Mohd",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2018,TR,Fall 2018,TR,NaN,NaN
1,Business Administration,NaN,SR,"Koski, Jamie",10274867,NaN,109,3.85,Fall 2020,koskija@my.easternct.edu,"Avent, Ashon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2020,TR,Fall 2020,TR,NaN,NaN
2,Business Information Systems,Spanish,SR,"Hughes, Rachel",10275070,12,109,3.84,Fall 2020,hughesra@my.easternct.edu,"Citurs, Alex",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2020,TR,Fall 2020,TR,NaN,NaN
3,Business Administration,Computer Science,SR,"Walker, John",10266974,NaN,104,3.77,Fall 2022,walkerjohn1@my.easternct.edu,"Pakdil, Fatma",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2018,A,Fall 2021,A-,NaN,NaN
4,Data Science,Business Analytics,SR,"Welch, Jamison",10274446,12,99,3.56,Fall 2021,welchja@my.easternct.edu,"Metcalf, Meredith",Spring 2022,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2021,TR,Fall 2021,TR,NaN,NaN

In [16]:
df.columns

Index(['Major1', 'Minor1', 'Class', 'Name', 'ID', 'Reg Crs', 'TotErndCrs',
       'CumeGPA', 'Admit Term', 'Campus Email', 'MAJRADVR',
       'BIS205 Term Taken', 'BIS205 Final Grade', 'MAT135 Term Taken',
       'MAT135 Final Grade', 'MAT135P Term Taken', 'MAT135P Final Grade',
       'MAT155 Term Taken', 'MAT155 Final Grade', 'MAT155P Term Taken',
       'MAT155P Final Grade', 'MAT195 Term Taken', 'MAT195 Final Grade',
       'MAT243 Term Taken', 'MAT243 Final Grade', 'MAT244 Term Taken',
       'MAT244 Final Grade', 'No Courses Term Taken',
       'No Courses Final Grade'],
      dtype='object')

## function to check prereqs and req'd class
#### returns students who FIT THE CRITERIA to take the class next semester.

In [18]:
def bis205_prereq_check(df): # find if students can take the class next semester!
    
    stu_list = []
    for i in range(df.shape[0]): # loop through dataframe to find & append records based on criteria below.
        try: # BUS 205 & BIS 205 included
            if (
                (( # check to see if prereq classes were passed.
                    grades.get(df.iloc[i].loc['MAT135 Final Grade']) < grades.get(np.nan) or 
                    grades.get(df.iloc[i].loc['MAT135P Final Grade']) < grades.get(np.nan) or 
                    grades.get(df.iloc[i].loc['MAT155 Final Grade']) < grades.get(np.nan) or 
                    grades.get(df.iloc[i].loc['MAT155P Final Grade']) < grades.get(np.nan) or 
                    grades.get(df.iloc[i].loc['MAT195 Final Grade']) < grades.get(np.nan) or 
                    grades.get(df.iloc[i].loc['MAT243 Final Grade']) < grades.get(np.nan) 
                )
                or
                (
                    ( # or, check to see if prereq classes are currently being taken this semester.
                        (semester.get(df.iloc[i].loc['MAT135 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT135 Final Grade']) == grades.get(np.nan))
                        or 
                        (semester.get(df.iloc[i].loc['MAT135P Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT135P Final Grade']) == grades.get(np.nan))
                        or 
                        (semester.get(df.iloc[i].loc['MAT155 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT155 Final Grade']) == grades.get(np.nan))
                        or
                        (semester.get(df.iloc[i].loc['MAT155P Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT155P Final Grade']) == grades.get(np.nan))
                        or 
                        (semester.get(df.iloc[i].loc['MAT195 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT195 Final Grade']) == grades.get(np.nan))
                        or 
                        (semester.get(df.iloc[i].loc['MAT243 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT243 Final Grade']) == grades.get(np.nan))
                    )
                ))
                and 
                (( 
                    ( # if required course was already taken in a previous semester, it should have been FAILED. 
                        (semester.get(df.iloc[i].loc['BIS205 Term Taken']) <= this_semester and grades.get(df.iloc[i].loc['BIS205 Final Grade']) > grades.get(np.nan))
                        or  
                        (semester.get(df.iloc[i].loc['BUS205 Term Taken']) <= this_semester and grades.get(df.iloc[i].loc['BUS205 Final Grade']) > grades.get(np.nan))
                    )
                    and # ensure class was never taken again and passed.
                    (
                        (grades.get(df.iloc[i].loc['BIS205 Final Grade']) >= grades.get(np.nan) and grades.get(df.iloc[i].loc['BUS205 Final Grade']) >= grades.get(np.nan))
                    )
                )
                or 
                (
                    ( # otherwise, the required course should have never been taken.
                        (semester.get(df.iloc[i].loc['BIS205 Term Taken']) == semester.get(np.nan) and grades.get(df.iloc[i].loc['BIS205 Final Grade']) == grades.get(np.nan))
                        and 
                         (semester.get(df.iloc[i].loc['BUS205 Term Taken']) == semester.get(np.nan) and grades.get(df.iloc[i].loc['BUS205 Final Grade']) == grades.get(np.nan))
                    )
                ))
            ): 
                stu_list.append(df.iloc[i, :])
        except KeyError: # only look at BIS 205
            if (
            (( # check to see if prereq classes were passed.
                grades.get(df.iloc[i].loc['MAT135 Final Grade']) < grades.get(np.nan) or 
                grades.get(df.iloc[i].loc['MAT135P Final Grade']) < grades.get(np.nan) or 
                grades.get(df.iloc[i].loc['MAT155 Final Grade']) < grades.get(np.nan) or 
                grades.get(df.iloc[i].loc['MAT155P Final Grade']) < grades.get(np.nan) or 
                grades.get(df.iloc[i].loc['MAT195 Final Grade']) < grades.get(np.nan) or 
                grades.get(df.iloc[i].loc['MAT243 Final Grade']) < grades.get(np.nan) 
        )
            or
            (
                ( # or, check to see if prereq classes are currently being taken this semester.
                    (semester.get(df.iloc[i].loc['MAT135 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT135 Final Grade']) == grades.get(np.nan))
                    or 
                    (semester.get(df.iloc[i].loc['MAT135P Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT135P Final Grade']) == grades.get(np.nan))
                    or 
                    (semester.get(df.iloc[i].loc['MAT155 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT155 Final Grade']) == grades.get(np.nan))
                    or
                    (semester.get(df.iloc[i].loc['MAT155P Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT155P Final Grade']) == grades.get(np.nan))
                    or 
                    (semester.get(df.iloc[i].loc['MAT195 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT195 Final Grade']) == grades.get(np.nan))
                    or 
                    (semester.get(df.iloc[i].loc['MAT243 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT243 Final Grade']) == grades.get(np.nan))
                )
            ))
            and 
            (( 
                ( # if required course was already taken in a previous semester, it should have been FAILED. 
                    (semester.get(df.iloc[i].loc['BIS205 Term Taken']) <= this_semester and grades.get(df.iloc[i].loc['BIS205 Final Grade']) > grades.get(np.nan))
#                     or  
#                     (semester.get(df.iloc[i].loc['BUS205 Term Taken']) <= this_semester and grades.get(df.iloc[i].loc['BUS205 Final Grade']) > grades.get(np.nan))
                )
                and # ensure class was never taken again and passed.
                (
                    (grades.get(df.iloc[i].loc['BIS205 Final Grade']) >= grades.get(np.nan)) # and grades.get(df.iloc[i].loc['BUS205 Final Grade']) >= grades.get(np.nan))
                )
            )
            or 
            (
                ( # otherwise, the required course should have never been taken.
                    (semester.get(df.iloc[i].loc['BIS205 Term Taken']) == semester.get(np.nan) and grades.get(df.iloc[i].loc['BIS205 Final Grade']) == grades.get(np.nan))
#                     and 
#                      (semester.get(df.iloc[i].loc['BUS205 Term Taken']) == semester.get(np.nan) and grades.get(df.iloc[i].loc['BUS205 Final Grade']) == grades.get(np.nan))
                )
            ))
            ): 
                stu_list.append(df.iloc[i, :])

    bis205 = pd.DataFrame(stu_list)
    bis205.sort_values(by = ['TotErndCrs', 'Name'], ascending = [False, True], inplace = True)
    return bis205

## function to export analyzed data to a .xlsx file in cd

In [19]:
def export_xlsx(bis205): 
    if file_name: #check to see if a file name was entered
        bis205.to_excel(f'{file_name}.xlsx', index = False)
    else: 
        bis205.to_excel(f'bis205_prereq_check.xlsx', index = False)
    print(f'...done\nfound {bis205.shape[0]} matches')

## call function on already clean and formatted data
### return head() to check

In [20]:
df205 = bis205_prereq_check(df)
df205.head()

,Major1,Minor1,Class,Name,ID,Reg Crs,TotErndCrs,CumeGPA,Admit Term,Campus Email,MAJRADVR,BIS205 Term Taken,BIS205 Final Grade,MAT135 Term Taken,MAT135 Final Grade,MAT135P Term Taken,MAT135P Final Grade,MAT155 Term Taken,MAT155 Final Grade,MAT155P Term Taken,MAT155P Final Grade,MAT195 Term Taken,MAT195 Final Grade,MAT243 Term Taken,MAT243 Final Grade,MAT244 Term Taken,MAT244 Final Grade,No Courses Term Taken,No Courses Final Grade
663,Business Information Systems,NaN,SR,"DeVito, Robert",10263305,NaN,177.0,2.82,Spring 2024,devitoro@my.easternct.edu,NaN,NaN,NaN,Spring 2018,TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,Business Information Systems,NaN,SR,"Ocasio, Umberto",10244627,NaN,160.0,2.88,Fall 2015,ocasiou@my.easternct.edu,"Citurs, Alex",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2015,TR,NaN,NaN,NaN,NaN
542,Business Administration,Business Information Systems,SR,"Mendoza, Jonatan",10277903,12.0,156.0,3.45,Fall 2020,mendozajon@my.easternct.edu,"Jiang, Yuanyuan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2020,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
672,Business Information Systems,Accounting,SR,"Chen, Jun Jie",10239706,NaN,142.0,2.49,Fall 2015,chenju@my.easternct.edu,"Citurs, Alex",NaN,NaN,NaN,NaN,NaN,NaN,Fall 2015,B-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,Business Information Systems,NaN,SR,"Calhoun, Kyle",10161708,NaN,136.0,3.06,Spring 2008,calhounk@my.easternct.edu,"Petkov, Doncho",NaN,NaN,Fall 2016,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### export a csv of analyzed data to cd

In [25]:
export_xlsx(df205)

...done
found 29 matches