# Drew's OSC 260 Acceptance wizard
   ##### *must use requirements not met WebFOCUS report

#### import libraries, edit width of cells

In [1]:
import pandas as pd
import numpy as np 

from IPython.display import display, HTML # make cell width wider bc my code is soooooo long (see def bis205_prereq_check(df):)
display(HTML("<style>.container { width:100% !important; }</style>"))

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 300)

### Enter the current semester you'd like to evaluate on:

In [2]:
currentSemester = 'Fall 2023'
evalSemester = '' # to be added soon!

### what would you like the file name to be?

In [3]:
file_name = 'EligibleStudents_For_OSC260'

#### long asf semester dictionary
will be important later

In [4]:
semester = {
    'Spring 1990': 19901, 'Summer 1990': 19902, 'Fall 1990': 19903, 'Wintersession 1990': 19904, 'Intersession 1990': 19904, 
    'Spring 1991': 19911, 'Summer 1991': 19912, 'Fall 1991': 19913, 'Wintersession 1991': 19914, 'Intersession 1991': 19914, 
    'Spring 1992': 19921, 'Summer 1992': 19922, 'Fall 1992': 19923, 'Wintersession 1992': 19924, 'Intersession 1992': 19924, 
    'Spring 1993': 19931, 'Summer 1993': 19932, 'Fall 1993': 19933, 'Wintersession 1993': 19934, 'Intersession 1993': 19934, 
    'Spring 1994': 19941, 'Summer 1994': 19942, 'Fall 1994': 19943, 'Wintersession 1994': 19944, 'Intersession 1994': 19944, 
    'Spring 1995': 19951, 'Summer 1995': 19952, 'Fall 1995': 19953, 'Wintersession 1995': 19954, 'Intersession 1995': 19954, 
    'Spring 1996': 19961, 'Summer 1996': 19962, 'Fall 1996': 19963, 'Wintersession 1996': 19964, 'Intersession 1996': 19964, 
    'Spring 1997': 19971, 'Summer 1997': 19972, 'Fall 1997': 19973, 'Wintersession 1997': 19974, 'Intersession 1997': 19974, 
    'Spring 1998': 19981, 'Summer 1998': 19982, 'Fall 1998': 19983, 'Wintersession 1998': 19984, 'Intersession 1998': 19984, 
    'Spring 1999': 19991, 'Summer 1999': 19992, 'Fall 1999': 19993, 'Wintersession 1999': 19994, 'Intersession 1999': 19994, 
    'Spring 2000': 20001, 'Summer 2000': 20002, 'Fall 2000': 20003, 'Wintersession 2000': 20004, 'Intersession 2000': 20004, 
    'Spring 2001': 20011, 'Summer 2001': 20012, 'Fall 2001': 20013, 'Wintersession 2001': 20014, 'Intersession 2001': 20014, 
    'Spring 2002': 20021, 'Summer 2002': 20022, 'Fall 2002': 20023, 'Wintersession 2002': 20024, 'Intersession 2002': 20024, 
    'Spring 2003': 20031, 'Summer 2003': 20032, 'Fall 2003': 20033, 'Wintersession 2003': 20034, 'Intersession 2003': 20034, 
    'Spring 2004': 20041, 'Summer 2004': 20042, 'Fall 2004': 20043, 'Wintersession 2004': 20044, 'Intersession 2004': 20044, 
    'Spring 2005': 20051, 'Summer 2005': 20052, 'Fall 2005': 20053, 'Wintersession 2005': 20054, 'Intersession 2005': 20054, 
    'Spring 2006': 20061, 'Summer 2006': 20062, 'Fall 2006': 20063, 'Wintersession 2006': 20064, 'Intersession 2006': 20064, 
    'Spring 2007': 20071, 'Summer 2007': 20072, 'Fall 2007': 20073, 'Wintersession 2007': 20074, 'Intersession 2007': 20074, 
    'Spring 2008': 20081, 'Summer 2008': 20082, 'Fall 2008': 20083, 'Wintersession 2008': 20084, 'Intersession 2008': 20084, 
    'Spring 2009': 20091, 'Summer 2009': 20092, 'Fall 2009': 20093, 'Wintersession 2009': 20094, 'Intersession 2009': 20094, 
    'Spring 2010': 20101, 'Summer 2010': 20102, 'Fall 2010': 20103, 'Wintersession 2010': 20104, 'Intersession 2010': 20104, 
    'Spring 2011': 20111, 'Summer 2011': 20112, 'Fall 2011': 20113, 'Wintersession 2011': 20114, 'Intersession 2011': 20114, 
    'Spring 2012': 20121, 'Summer 2012': 20122, 'Fall 2012': 20123, 'Wintersession 2012': 20124, 'Intersession 2012': 20124, 
    'Spring 2013': 20131, 'Summer 2013': 20132, 'Fall 2013': 20133, 'Wintersession 2013': 20134, 'Intersession 2013': 20134, 
    'Spring 2014': 20141, 'Summer 2014': 20142, 'Fall 2014': 20143, 'Wintersession 2014': 20144, 'Intersession 2014': 20144, 
    'Spring 2015': 20151, 'Summer 2015': 20152, 'Fall 2015': 20153, 'Wintersession 2015': 20154, 'Intersession 2015': 20154, 
    'Spring 2016': 20161, 'Summer 2016': 20162, 'Fall 2016': 20163, 'Wintersession 2016': 20164, 'Intersession 2016': 20164, 
    'Spring 2017': 20171, 'Summer 2017': 20172, 'Fall 2017': 20173, 'Wintersession 2017': 20174, 'Intersession 2017': 20174, 
    'Spring 2018': 20181, 'Summer 2018': 20182, 'Fall 2018': 20183, 'Wintersession 2018': 20184, 'Intersession 2018': 20184, 
    'Spring 2019': 20191, 'Summer 2019': 20192, 'Fall 2019': 20193, 'Wintersession 2019': 20194, 'Intersession 2019': 20194, 
    'Spring 2020': 20201, 'Summer 2020': 20202, 'Fall 2020': 20203, 'Wintersession 2020': 20204, 'Intersession 2020': 20204, 
    'Spring 2021': 20211, 'Summer 2021': 20212, 'Fall 2021': 20213, 'Wintersession 2021': 20214, 'Intersession 2021': 20214, 
    'Spring 2022': 20221, 'Summer 2022': 20222, 'Fall 2022': 20223, 'Wintersession 2022': 20224, 'Intersession 2022': 20224, 
    'Spring 2023': 20231, 'Summer 2023': 20232, 'Fall 2023': 20233, 'Wintersession 2023': 20234, 'Intersession 2023': 20234, 
    'Spring 2024': 20241, 'Summer 2024': 20242, 'Fall 2024': 20243, 'Wintersession 2024': 20244, 'Intersession 2024': 20244, 
    'Spring 2025': 20251, 'Summer 2025': 20252, 'Fall 2025': 20253, 'Wintersession 2025': 20254, 'Intersession 2025': 20254, 
    'Spring 2026': 20261, 'Summer 2026': 20262, 'Fall 2026': 20263, 'Wintersession 2026': 20264, 'Intersession 2026': 20264, 
    'Spring 2027': 20271, 'Summer 2027': 20272, 'Fall 2027': 20273, 'Wintersession 2027': 20274, 'Intersession 2027': 20274, 
    'Spring 2028': 20281, 'Summer 2028': 20282, 'Fall 2028': 20283, 'Wintersession 2028': 20284, 'Intersession 2028': 20284, 
    'Spring 2029': 20291, 'Summer 2029': 20292, 'Fall 2029': 20293, 'Wintersession 2029': 20294, 'Intersession 2029': 20294, 
    'Spring 2030': 20301, 'Summer 2030': 20302, 'Fall 2030': 20303, 'Wintersession 2030': 20304, np.nan: 20305
            }

# assigns variable 'this_semester' to previously assigned string variable with .get() function on semester dictionary
this_semester = semester.get(currentSemester)

### clean your Requirements Not Met dataset by running this code: 
df = pd.read_excel(r"**YOUR FILE HERE**")

In [5]:
def clean_and_format_data(df):

    # store values in "og_header" in A1, A2, and L5, probably won't use this but it might be useful later
    detail_of = df.iloc[0, 0]
    detail_sortby = df.iloc[1, 0]
    detail_rundate = df.iloc[2, 0]

    # concat rows df.iloc[4] + df.iloc[5] (where REAL header begins)
    first_row = df.iloc[4].astype(str) # grabs first row
    new_header = (first_row + ' ' + df.iloc[5].astype(str)).str.strip() # concatenates first row with second row
    new_header = new_header.replace('\n', ' ', regex=True) # replaces dumb newline characters with spaces
    new_header = new_header.replace('nan', '', regex=True) # replaces the np.nan values in unused concatenated cells with empty strings
    new_header = new_header.str.strip() # strips whole header to get rid of concatenated leading & trailing spaces
    
    for i in range(11, len(new_header)-1)[::2]: # loop to concatenate columns so that the (course name) + (Term Taken/Final Grade) is preserved.
        if new_header[i].startswith('No Courses'): # special case for 'No Courses' header ([:10] to accomodate full length of text)
            new_header[i+1] = new_header[i][:10].strip() + ' ' + new_header[i+1]
        else: 
            new_header[i+1] = new_header[i][:7].strip() + ' ' + new_header[i+1] # concat course name (could be 7 char (MAT 135P)) with (Final Grade)
    
    df = df[6:] # assign dataframe to rows with relevant student data
    df.reset_index(inplace = True, drop = True) # reset index to new range
    
    df.columns = new_header # assign columns to the new concatenated header
    
    df.iloc[: , 12::2] = df.iloc[: , 12::2].replace(' ', np.nan) # for some reason, if course is being taken currently, grade is stored as a ' ' char. replace with np.nan
    
    return df

In [9]:
# Read the Excel file with new function to clean and format data properly
df = clean_and_format_data(pd.read_excel(r"C:\Users\cavaran\OneDrive - Eastern Connecticut State University\_work\2023-2024\_today\OSC260_Majors_Requiring_it_Dec4_2024.xlsx"))
df.head() # new dataframe! looks great, doesn't it?!??!????

,Major1,Minor1,Class,Name,ID,Reg Crs,TotErndCrs,CumeGPA,Admit Term,Campus Email,MAJRADVR,BUS260 Term Taken,BUS260 Final Grade,ECO215 Term Taken,ECO215 Final Grade,MAT216 Term Taken,MAT216 Final Grade,MAT315 Term Taken,MAT315 Final Grade,No Courses Term Taken,No Courses Final Grade,OSC260 Term Taken,OSC260 Final Grade
0,Accounting,NaN,FR,"Ayala, Angel",10291766,15,6,0,Fall 2023,ayalaan@my.easternct.edu,"RuJoub, Mohd",NaN,NaN,Spring 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Accounting,NaN,FR,"Bennett, Connor",10286902,NaN,24,1.13,Spring 2023,bennettcon@my.easternct.edu,"RuJoub, Mohd",NaN,NaN,Fall 2023,NaN,Spring 2023,TR,NaN,NaN,NaN,NaN,NaN,NaN
2,Accounting,NaN,FR,"Caouette, Kimberly",10286343,NaN,NaN,NaN,Spring 2022,caouettek@my.easternct.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,Not Taken,NaN,NaN
3,Accounting,NaN,FR,"Delgado, Joshua",10280689,NaN,0,0,Spring 2021,delgadojos@my.easternct.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,Not Taken,NaN,NaN
4,Accounting,NaN,FR,"Filloramo, Jillian",10289421,16,NaN,NaN,Fall 2023,filloramoj@my.easternct.edu,"RuJoub, Mohd",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,Not Taken,NaN,NaN

In [10]:
grades = { # grade dictionary. Values < 14 are considered "passed", > 14 are considered failed. 14 is a null value.
    'A+': 1, 'A': 2, '*A': 2, 'A-': 3, 'B+': 4, 'B': 5, '*B': 5, 'B-': 6, 'C+': 7,
    'C': 8, '*C': 8, 'C-': 9, 'D+': 10, 'D': 11, '*D': 11, 'CR*': 12, 'TR': 13, '*TR': 13, np.nan: 14, 
    'F': 15, '*F': 15, 'NC*': 16, 'W': 17
         }

In [23]:
def osc260_prereq_check(df): # find if students can take the class next semester!
    
    stu_list = []
    try: ### header being weird, might not have to do in all cases idk.
        for i in range(df.shape[0]): # loop through dataframe to find & append records based on criteria below.
            if (
                (( # check to see if prereq classes were passed.
                    grades.get(df.iloc[i].loc['ECO215 FinalGrade']) < grades.get(np.nan) or 
                    grades.get(df.iloc[i].loc['MAT216 FinalGrade']) < grades.get(np.nan) or 
                    grades.get(df.iloc[i].loc['MAT315 FinalGrade']) < grades.get(np.nan)
                )
                or
                (
                    ( # or, check to see if prereq classes are currently being taken this semester.
                        (semester.get(df.iloc[i].loc['ECO215 TermTaken']) == this_semester and grades.get(df.iloc[i].loc['ECO215 FinalGrade']) == grades.get(np.nan))
                        or 
                        (semester.get(df.iloc[i].loc['MAT216 TermTaken']) == this_semester and grades.get(df.iloc[i].loc['MAT216 FinalGrade']) == grades.get(np.nan)) 
                        or 
                        (semester.get(df.iloc[i].loc['MAT315 TermTaken']) == this_semester and grades.get(df.iloc[i].loc['MAT315 FinalGrade']) == grades.get(np.nan))
                    )
                ))
                and 
                (( 
                    ( # if required course was already taken in a previous/this semester, it should have been FAILED.
                        (semester.get(df.iloc[i].loc['BUS260 TermTaken']) <= this_semester and grades.get(df.iloc[i].loc['BUS260 FinalGrade']) > grades.get(np.nan)) 
                        or  
                        (semester.get(df.iloc[i].loc['OSC260 TermTaken']) <= this_semester and grades.get(df.iloc[i].loc['OSC260 FinalGrade']) > grades.get(np.nan))
                    )
                    and # ensure class was never taken again and passed.
                    (
                        (grades.get(df.iloc[i].loc['BUS260 FinalGrade']) >= grades.get(np.nan) and grades.get(df.iloc[i].loc['OSC260 FinalGrade']) >= grades.get(np.nan))
                    )
                )
                or 
                (
                    ( # otherwise, the required course should have never been taken.
                        (semester.get(df.iloc[i].loc['BUS260 TermTaken']) == semester.get(np.nan) and grades.get(df.iloc[i].loc['BUS260 FinalGrade']) == grades.get(np.nan))
                        and 
                        (semester.get(df.iloc[i].loc['OSC260 TermTaken']) == semester.get(np.nan) and grades.get(df.iloc[i].loc['OSC260 FinalGrade']) == grades.get(np.nan))
                    )
                ))
            ): 
                stu_list.append(df.iloc[i, :])
    except KeyError: ## maybe header is Term Taken and Final Grade and not TermTaken and FinalGrade???
        for i in range(df.shape[0]): # loop through dataframe to find & append records based on criteria below.
            if (
                (( # check to see if prereq classes were passed.
                    grades.get(df.iloc[i].loc['ECO215 Final Grade']) < grades.get(np.nan) or 
                    grades.get(df.iloc[i].loc['MAT216 Final Grade']) < grades.get(np.nan) or 
                    grades.get(df.iloc[i].loc['MAT315 Final Grade']) < grades.get(np.nan)
                )
                or
                (
                    ( # or, check to see if prereq classes are currently being taken this semester.
                        (semester.get(df.iloc[i].loc['ECO215 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['ECO215 Final Grade']) == grades.get(np.nan))
                        or 
                        (semester.get(df.iloc[i].loc['MAT216 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT216 Final Grade']) == grades.get(np.nan)) 
                        or 
                        (semester.get(df.iloc[i].loc['MAT315 Term Taken']) == this_semester and grades.get(df.iloc[i].loc['MAT315 Final Grade']) == grades.get(np.nan))
                    )
                ))
                and 
                (( 
                    ( # if required course was already taken in a previous/this semester, it should have been FAILED.
                        (semester.get(df.iloc[i].loc['BUS260 Term Taken']) <= this_semester and grades.get(df.iloc[i].loc['BUS260 Final Grade']) > grades.get(np.nan)) 
                        or  
                        (semester.get(df.iloc[i].loc['OSC260 Term Taken']) <= this_semester and grades.get(df.iloc[i].loc['OSC260 Final Grade']) > grades.get(np.nan))
                    )
                    and # ensure class was never taken again and passed.
                    (
                        (grades.get(df.iloc[i].loc['BUS260 Final Grade']) >= grades.get(np.nan) and grades.get(df.iloc[i].loc['OSC260 Final Grade']) >= grades.get(np.nan))
                    )
                )
                or 
                (
                    ( # otherwise, the required course should have never been taken.
                        (semester.get(df.iloc[i].loc['BUS260 Term Taken']) == semester.get(np.nan) and grades.get(df.iloc[i].loc['BUS260 Final Grade']) == grades.get(np.nan))
                        and 
                        (semester.get(df.iloc[i].loc['OSC260 Term Taken']) == semester.get(np.nan) and grades.get(df.iloc[i].loc['OSC260 Final Grade']) == grades.get(np.nan))
                    )
                ))
            ): 
                stu_list.append(df.iloc[i, :])

    osc260 = pd.DataFrame(stu_list)
    osc260.sort_values(by = ['TotErndCrs', 'Name'], ascending = [False, True], inplace = True)
    return osc260

In [17]:
def export_xlsx(osc260): 
    if file_name: #check to see if a file name was entered
        osc260.to_excel(f'{file_name}.xlsx', index = False)
    else: 
        osc260.to_excel(f'osc260_prereq_check.xlsx', index = False)
    print(f'...done\nfound {osc260.shape[0]} matches')

In [18]:
osc260 = osc260_prereq_check(df)
osc260.head()

,Major1,Minor1,Class,Name,ID,Reg Crs,TotErndCrs,CumeGPA,Admit Term,Campus Email,MAJRADVR,BUS260 Term Taken,BUS260 Final Grade,ECO215 Term Taken,ECO215 Final Grade,MAT216 Term Taken,MAT216 Final Grade,MAT315 Term Taken,MAT315 Final Grade,No Courses Term Taken,No Courses Final Grade,OSC260 Term Taken,OSC260 Final Grade
86,Accounting,NaN,SR,"Silva, Chelsea",10159336,NaN,129.0,2.55,Fall 2023,silvache@my.easternct.edu,NaN,NaN,NaN,Spring 2013,A-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Accounting,NaN,SR,"Wang, Bo",10266881,9.0,127.0,3.94,Fall 2022,wangbo@my.easternct.edu,"RuJoub, Mohd",NaN,NaN,Fall 2023,W,Fall 2022,TR,NaN,NaN,NaN,NaN,NaN,NaN
81,Accounting,NaN,SR,"Periche, Anabelle",10286145,12.0,109.0,3.67,Fall 2022,perichea@my.easternct.edu,"RuJoub, Mohd",NaN,NaN,Fall 2022,A-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
696,Data Science,NaN,SR,"Cavar, Andrew",10275034,12.0,105.0,3.67,Fall 2020,cavaran@my.easternct.edu,"Dancik, Garrett",NaN,NaN,Spring 2022,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,Business Administration,NaN,SR,"Fiorita, Richard",10278423,NaN,97.0,3.96,Fall 2020,fioritar@my.easternct.edu,"Buck, Wayne",NaN,NaN,NaN,NaN,Fall 2020,A,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# export a csv of data
export_xlsx(osc260)

...done
found 119 matches